# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

- List common languages
- List common libraries
- demonstrate my understanding of what I learned
- write code
- write commments and markdowns

##

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. Plotly
4. Ggplot2

|Data Science Tools|
|-----------|
|Tensorflow|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [21]:
#This line of code will convert 200 minutes to hours

200/60

3.3333333333333335